<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Statistics</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">{{description}}</p>
    </div>
    <div class="flex flex-wrap -m-4 text-center justify-center">
      @for (statistic of statisticsArray; track statistic) {
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <ng-icon [name]="statistic.icon" size="48" class="text-green-500 mb-3 inline-block"></ng-icon>
          <h2 class="title-font font-medium text-3xl text-gray-900">{{statistic.number}}</h2>
          <p class="leading-relaxed">{{statistic.name | capitalize}}</p>
        </div>
      </div>
      }
    </div>
  </div>
</section>