<!-- Modal -->
<div
class="modal container z-10 px-5 py-24 mx-auto flex flex-wrap items-center absolute top-0 backdrop-blur h-full"
>
<div
  class="lg:w-1/2 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col mx-auto w-full mt-10 md:mt-0"
>
  <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Delete</h2>
  <div class="relative mb-4">
    <p class="leading-7 text-sm text-gray-600"
      >Are you sure you want to delete?</p
    >
  </div>
  <div class="relative mb-4 ml-auto">
    <button
      class="text-gray-900 bg-gray-200 border-0 py-2 px-8 mr-2 focus:outline-none hover:bg-gray-400 hover:text-white rounded text-lg"
    >
      Cancel
    </button>
    <button
      class="text-white bg-orange-500 border-0 py-2 px-8 focus:outline-none hover:bg-orange-600 rounded text-lg"
    >
      Delete
    </button>
  </div>
</div>
</div>