<section class="text-gray-600 body-font relative border-y">
  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900"
      >
        Leave a Comment
      </h1>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap flex-col -m-2">
        <form [formGroup]="formCommentGroup">
          <div class="p-2 w-full">
            <div class="relative">
              <mat-form-field style="width: 100%">
                <mat-label>Content</mat-label>
                <textarea
                  matInput
                  formControlName="body"
                  style="max-height: 6rem; min-height: 3rem"
                ></textarea>
                <mat-error *ngIf="formCommentGroup.get('body').hasError('required')">
                  Content of the comment is required.
                </mat-error>
                <mat-error *ngIf="formCommentGroup.get('body').hasError('minlength')">
                  Comment have to be at least 10 characters long.
                </mat-error>
                <mat-error *ngIf="formCommentGroup.get('body').hasError('maxlength')">
                  Comment must not be more than 255 characters long.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="p-2 w-full">
            <button
              mat-raised-button
              color="primary"
              style="width: 100%"
              (click)="
                postComment(formCommentGroup.get('body').value, user.id, postId)
              "
              [disabled]="formCommentGroup.invalid"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
