<section class="text-gray-600 body-font login-height">
  <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
    <div
      class="lg:w-1/2 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:mx-auto w-full mt-10 md:mt-0"
    >
      <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Login</h2>
      <form [formGroup]="form">
        <div class="relative mb-4">
          <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="form.get('email')" />
            <mat-error *ngIf="form.get('email').hasError('required')">
              Email is required.
            </mat-error>
            <mat-error *ngIf="form.get('email').hasError('email')">
              Enter valid email.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="relative mb-4">
          <mat-form-field style="width: 100%">
            <mat-label>Password</mat-label>
            <input
              matInput
              [formControl]="form.get('password')"
              [type]="hide ? 'password' : 'text'"
            />
            <mat-error *ngIf="form.get('password').hasError('required')">
              Password is required.
            </mat-error>
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          color="primary"
          style="width: 100%"
          (click)="login(form.get('email').value,form.get('password').value)"
          [disabled]="form.invalid"
        >
          Login
        </button>
        <p class="text-xs text-gray-500 mt-3">
          Don't have an account yet?
          <a routerLink="../register"
            ><span class="underline cursor-pointer hover:text-green-500"
              >Register</span
            ></a
          >
        </p>
      </form>
      <app-notification-modal *ngIf="error" [notification]="notification" [body]="body" [borderColor]="borderColor" [buttonColor]="buttonColor" [newLocation]="location"></app-notification-modal>
    </div>
  </div>
</section>
